<div class="calendario">
  <table>
    <thead>
      <tr>
        <th>Hora</th>
        <th *ngFor="let dia of diasSemana">{{ dia }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let linha of agenda; let i = index">
        <td class="hora">{{ horarios[i] }}</td>
        <td *ngFor="let h of linha"
            [class.disponivel]="h.disponivel"
            [class.indisponivel]="!h.disponivel"
            (click)="selecionar(h)">
          {{ h.disponivel ? '✔' : '✖' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
