<div class="login-page">
  <div class="background-shape"></div>
  <div class="login-box">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <span class="icon">👤</span>
        <input type="email" placeholder="E-mail" formControlName="email" />
      </div>
      <div class="input-group">
        <span class="icon">🔒</span>
        <input type="password" placeholder="Senha" formControlName="senha" />
      </div>
      <button type="submit" [disabled]="loginForm.invalid">LOGIN</button>
      <div class="links">
        <p>Não tem conta? <a routerLink="/register">Sign Up</a></p>
      </div>
    </form>
  </div>
</div>
